<section class='bg-zinc-900 p-20 rounded-xl my-4'>
  <h2 class='text-5xl my-5'>About Us</h2>
  <p class="text-zinc-300 text-center">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae reiciendis ea
    quos veniam odit, dignissimos dicta quaerat, molestias dolor, odio
    cupiditate animi? Accusantium vero nisi laboriosam maxime ipsam et veritatis
    magnam. Expedita nulla mollitia consequatur modi, autem ea alias libero
    molestiae, nostrum, ex non adipisci incidunt ratione aperiam sequi.
    Reiciendis, soluta temporibus? Illum, reiciendis at! Dolorem iusto culpa nam
    commodi perferendis aspernatur magnam at, voluptatum est optio vero, magni
    minus deserunt illum ut quo, tenetur explicabo aperiam nemo consequatur
    aliquid assumenda! Voluptatem, quae dolorem aspernatur suscipit
    necessitatibus non amet dolor animi et atque itaque, excepturi ab impedit
    quam! Adipisci, unde!
  </p>
</section>


