---
---

<div class='container m-auto mt-20'>
  <div>
    <h2 class='text-5xl font-bold'>
      Conoce Nuestras<br class='md:hidden' />
      <span class='md:block text-green-500 mt-2'>Acreditaciones</span>
    </h2>
    <div class='w-1/3 h-2 bg-green-500 mt-2 rounded-full'></div>
  </div>
  <div class='grid md:grid-cols-4 mt-20 justify-evenly'>
    <img class='scaled-img cursor-pointer' src='images/balanzas.png' alt='' />
    <img
      class='scaled-img cursor-pointer'
      src='images/temperatura.png'
      alt=''
    />
    <img class='scaled-img cursor-pointer' src='images/presion.png' alt='' />
    <img class='scaled-img cursor-pointer' src='images/temp2.png' alt='' />
  </div>
</div>

<style>
  .scaled-img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .scaled-img:hover {
    transform: scale(0.95);
  }
</style>
