---
const currentYear = new Date().getFullYear();
---

<div class='bg-green-500 grid text-center justify-center'>
  <div class="container py-5 md:text-xl text-white w-full ">
    Copyright © {currentYear} Metromedics S.A.S Dosquebradas
  </div>
</div>
