---

---

<div class="mt-20 py-6 bg-white border-y-green-500 border-t-6">
  <div class="container m-auto">
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-2 text-black md:text-xl text-justify"
    >
      <div class="grid grid-cols-1">
        <img src="/images/image.png" alt="" />
        <span class="mt-5 pt-5">
          Es una compañía dedicada a realizar procesos metrológicos bajo normas
          técnicas nacionales e internaciones, contribuyendo en la
          estandarización de los procedimientos metrológicos a nivel nacional
        </span>
      </div>
      <div class="text-black mt-5 md:mt-0">
        <h3 class="text-3xl text-green-300">Mapa del Sitio</h3>
        <ul class="mt-10">
          <li class="hover:text-green-400"><a href="/">Inicio</a></li>
          <li class="hover:text-green-400">
            <a href="/servicios">Servicios</a>
          </li>
          <li class="hover:text-green-400"><a href="/nosotros">Nosotros</a></li>
          <li class="hover:text-green-400">
            <a href="/contacto">Contacto</a>
          </li>
          <li class="hover:text-green-400">
            <a href="/evaluacion-del-servicio">Evaluación del Servicio</a>
          </li>
          <li class="hover:text-green-400">
            <a href="/pqr">PQR</a>
          </li>
        </ul>
      </div>
      <div class="text-black grid grid-cols-1">
        <h3 class="text-3xl text-green-300">Contacto</h3>
        <ul class="mt-10">
          <li>(+57)(606) 352 6161</li>
          <li>301 254 1543</li>
          <li>311 344 1682</li>
          <li class="mt-2">Sede Principal Dosquebradas:</li>
          <li>Calle 35 13-46 Guadalupe - Dosquebradas</li>
          <li class="mt-2">Bogotá, Cundinamarca:</li>
          <li>Cra. 71c #52-34, Oficina 101</li>
          <li>300 816 3096</li>
          <li class="text-green-300 mt-2">comercial@metromedicslab.com.co</li>
          <li class="text-green-300">
            analistacomercial@metromedicslab.com.co
          </li>
          <li class="text-green-300 break-words">
            analistacomercialbogota@metromedicslab.com.co
          </li>
          <li class="mt-4">Siguenos:</li>
          <li class="flex gap-4 mt-2">
            <a
              href="https://www.facebook.com/metromedics.sas/"
              target="_blank"
              class="no-underline hover:opacity-80 transition-opacity"
            >
              <img
                src="/images/Facebook_Logo_Primary.png"
                alt="Facebook"
                class="w-10 h-10"
              />
            </a>
            <a
              href="https://www.instagram.com/metromedics"
              target="_blank"
              class="no-underline hover:opacity-80 transition-opacity"
            >
              <img
                src="/images/Instagram_Glyph_Gradient.png"
                alt="Instagram"
                class="w-10 h-10"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
