---
---

<div class='container m-auto mt-20 py-16'>
  <div class="text-center">
    <img src='images/logo2.png' class="mx-auto mb-10" alt='' />
  </div>
  <div class="text-center text-2xl leading-relaxed">
    "Cuando Puede Medir Aquello De Lo Que Está Hablando Y Expresarlo En Números,
    Empieza A Conocer Algo Del Sujeto, Pero Si No Puede Cuantificarlo, Su
    Conocimiento Será Pobre E Insatisfactorio; Puede Ser El Principio Del
    Conocimiento, Pero Habrá Avanzado Escasamente En Sus Ideas, Desde El Punto
    De Vista Científico, Cualquiera Que Sea El Tema". <span class="font-bold">- Lord Kelvin</span>
  </div>
</div>
