---
---

<div class='bg-[url(/images/fondo_servicios.webp)] bg-cover mt-20 py-16'>
  <div class='container m-auto'>
    <div class='font-bold text-white text-center'>
      <h2 class='text-5xl'>Conoce Nuestros Servicios</h2>
      <h3 class='mt-4 text-2xl'>Servicios Especializados Para Su Empresa</h3>
    </div>
    <div class='grid md:grid-cols-3 mt-16'>
      <img class='scaled-img cursor-pointer' src='/images/laboratorio_acreditado_nuevo.png' alt='' />
      <img
        class='scaled-img cursor-pointer'
        src='/images/servicio2.png'
        alt=''
      />
      <img class='scaled-img cursor-pointer' src='/images/servicio3.png' alt='' />
    </div>
  </div>
</div>

<style>
  .scaled-img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .scaled-img:hover {
    transform: scale(0.95);
  }
</style>