---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Metromedics SAS | Calibración y Mantenimiento de Equipos Médicos e Industriales"
  description="Metromedics S.A.S Dosquebradas: Expertos en Calibración y Mantenimiento de Equipos Médicos e Industriales. Contribuimos a la Estandarización de la Medición en el Sector de la Salud y la Industria."
>
  <div class="text-center h-screen md:gap-40 mt-6">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSdWdJzYUGXI-Bpzr30HAGLveyBz2CywAYkXhinQwHkqEA0Mrw/viewform?embedded=true"
      width="100%"
      height="800">Loading…</iframe
    >
  </div>
</Layout>
