---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import process from "../../public/images/proceso.jpeg";
---

<Layout
  title="Metromedics SAS | Calibración y Mantenimiento de Equipos Médicos e Industriales"
  description="Metromedics S.A.S Dosquebradas: Expertos en Calibración y Mantenimiento de Equipos Médicos e Industriales. Contribuimos a la Estandarización de la Medición en el Sector de la Salud y la Industria."
>
  <div class="text-center min-h-screen md:gap-40 mt-6">
    <!-- Miniatura con efecto hover -->
    <div class="cursor-pointer inline-block" id="thumbnail">
      <Image
        src={process}
        alt="Proceso de quejas de Metromedics"
        class="w-32 h-auto transition-transform transform hover:scale-110 border rounded-lg shadow-lg"
      />
      <p class="text-sm mt-2 text-gray-600">Haz clic para ampliar</p>
    </div>

    <!-- Modal de imagen ampliada -->
    <div
      id="modal"
      class="hidden fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50"
    >
      <div
        class="max-w-[90vw] max-h-[90vh] p-4 bg-white rounded-lg shadow-lg relative flex justify-center"
      >
        <button
          class="absolute top-2 right-2 text-white bg-red-600 rounded-full px-3 py-1 z-50"
          id="closeModal"
        >
          ✖
        </button>
        <img
          src="/images/proceso.jpeg"
          alt="Proceso de quejas"
          class="w-auto h-auto max-w-full max-h-[90vh] object-contain rounded-lg"
        />
      </div>
    </div>

    <!-- Formulario de Google -->
    <iframe
      src="https://docs.google.com/forms/d/133KSZVkJTqoXgOGOGrZ4FC2eZh2a7NQNbcOjSPDXNn8/viewform?embedded=true"
      width="100%"
      height="800"
      class="mt-6"
    >
      Loading…
    </iframe>
  </div>

  <!-- Script del cliente para manejar interactividad -->
  <script>
    // Seleccionar elementos
    const thumbnail = document.getElementById("thumbnail");
    const modal = document.getElementById("modal");
    const closeButton = document.getElementById("closeModal");

    // Manejar clicks
    thumbnail?.addEventListener("click", () =>
      modal?.classList.remove("hidden")
    );
    closeButton?.addEventListener("click", () =>
      modal?.classList.add("hidden")
    );

    // Cerrar modal al hacer click fuera
    modal?.addEventListener("click", (e) => {
      if (e.target === modal) modal.classList.add("hidden");
    });
  </script>
</Layout>
