---
import services from '../config/services.json';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title='Metromedics SAS - Ingeniería y Laboratorio de Metrología'
  description='Metromedics S.A.S Dosquebradas, Es una compañía dedicada dedicada a realizar procesos metrológicos bajo normas técnicas nacionales e internaciones, contribuyendo en la estandarización de los procedimientos metrológicos a nivel nacional'
>
  <div class='bg-[url(/images/fondo_titulos.webp)] h-40 flex'>
    <div class='container w-full m-auto font-bold text-3xl md:max-w-5xl'>
      <h1>Servicios</h1>
    </div>
  </div>
  <div class='container m-auto md:max-w-5xl'>
    <p class='text-center my-10'>
      Servicios Pensados Para El Mejoramiento De Tu Empresa, Ofrecemos Nuestros
      Servicios En:
    </p>
    <div
      class='grid md:grid-cols-2 gap-16 items-center grid-cols-1 justify-items-center'
    >
      {
        services.map((service) => (
          <>
            <div>
              <h1 class='font-bold text-xl mb-7'>{service.title}</h1>
              <p class='text-justify leading-relaxed'>{service.content}</p>
            </div>
            <div>
              <img src={service.imgUrl} alt='' class='rounded-xl' />
            </div>
          </>
        ))
      }
    </div>
  </div>
</Layout>
