---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Metromedics SAS | Calibración y Mantenimiento de Equipos Médicos e Industriales"
  description="Metromedics S.A.S Dosquebradas: Expertos en Calibración y Mantenimiento de Equipos Médicos e Industriales. Contribuimos a la Estandarización de la Medición en el Sector de la Salud y la Industria."
>
  <div class="bg-[url(/images/fondo_titulos.webp)] h-40 flex">
    <div class="container w-full m-auto font-bold text-3xl md:max-w-5xl">
      <h1>Laboratorio Acreditado</h1>
    </div>
  </div>
  <div class="container m-auto md:max-w-5xl">
    <img src="/images/onac_grande.png" alt="onac metromedics" />
    <p class="text-center">
      En Metromedics SAS contamos con acreditación ONAC, vigente a la fecha, con
      código de acreditación 18-LAC-020, bajo la norma ISO/IEC 17025: 2017.
    </p>

    <div class="grid md:grid-cols-3 m-auto mt-6 gap-10">
      <div>
        <img src="/images/item2-291x300.jpg" alt="magnitud masa" /><p
          class="mt-4 text-center leading-relaxed"
        >
          - Calibración de Instrumentos de pesaje de funcionamiento no
          automático – Alcance de acreditación: 1 mg ≤ m ≤ 1000 kg <br />
          - Calibración de pesas clase OIML M1,M2,M3. Alcance acreditado: 1 g a 20
          kg.
        </p>
      </div>
      <div>
        <img src="/images/item1-292x300.jpg" alt="magnitud presión" /><p
          class="mt-4 text-center leading-relaxed"
        >
          - Calibración de Tensiómetros – Alcance acreditado: 50mmHg a 300mmHg /
          6.67 KPa a 40 KPa <br />
          - Calibración de vacuómetros, manómetros, manovacuómetros. Alcance acreditado:
          -10 a 0 psi, 0 a 1500 psi.
        </p>
      </div>
      <div>
        <img
          src="/images/items_temp_relativa-292x300.jpg"
          alt="magnitud temperatura y humedad relativa"
        />
        <p class="mt-4 text-center leading-relaxed">
          Alcance acreditado Temperatura ambiente de 10 °C A 40 °C – Humedad
          relativa de 15 %HR A 90%HR – Equipos a realizar Termohigrometro,
          Higrometros, Termometros digitales, Sensores de humedad del aire,
          Dataloggers
        </p>
      </div>
      <div>
        <img
          src="/images/items_temp-292x300.jpg"
          alt="magnitud temperatura de contacto"
        />
        <p class="mt-4 text-center leading-relaxed">
          Alcance acreditado De -30 °C A 350 °C – Equipos a realizar:
          Termómetros de cadena de frio, Termómetros de punzón, Sensores de
          temperatura, Termoresistores, Dataloggers de alta temperatura,
          Controladores de temperatura, Dataloggers
        </p>
      </div>
      <div>
        <img
          src="/images/isotermicos3.png"
          alt="magnitud temperatura de contacto"
          class="ml-6"
        />
        <p class="mt-4 text-center leading-relaxed">
          - Caracterización en temperatura, alcance acreditado -30 °C a 350 °C.
          Equipos a realizar: Cámaras ambientales, hornos, incubadoras,
          refrigeradores, congeladores. <br /> - Caracterización en humedad relativa,
          alcance acreditado: 30 %HR a 85 %HR. Equipos a realizar: Cámaras ambientales
          con circulación forzada. <br />
          - Bloque seco: Caracterización en temperatura, alcance acreditado -30 °C
          a 350 °C.
        </p>
      </div>
    </div>
  </div>
</Layout>
