---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Metromedics SAS | Calibración y Mantenimiento de Equipos Médicos e Industriales"
  description="Metromedics S.A.S Dosquebradas: Expertos en Calibración y Mantenimiento de Equipos Médicos e Industriales. Contribuimos a la Estandarización de la Medición en el Sector de la Salud y la Industria."
>
  <div class='bg-[url(/images/fondo_titulos.webp)] h-40 flex'>
    <div class='container w-full m-auto font-bold text-3xl md:max-w-5xl'>
      <h1>Laboratorio Acreditado</h1>
    </div>
  </div>
  <div class='container m-auto md:max-w-5xl'>
    <img src='/images/onac_grande.png' alt='onac metromedics' />
    <p class='text-center'>
      Los siguientes servicios se encuentra acreditados en la norma ISO/IEC
      17025: 2017 bajo el alcance indicado en el certificado de acreditación
      18-LAC-020.
    </p>

    <div class='grid md:grid-cols-4 m-auto mt-6 gap-10'>
      <div>
        <img src='/images/item2-291x300.jpg' alt='magnitud masa' /><p
          class='mt-4 text-center leading-relaxed'
        >
          Calibración de Instrumentos de pesaje de funcionamiento no automático
          – Alcance de acreditación: 2g m ≤ 200g / 200g m ≤ 2000g / 2kg m ≤ 30kg
          / 30kg m ≤ 500kg / 0kg a 30kg / 0kg a 500kg
        </p>
      </div>
      <div>
        <img src='/images/item1-292x300.jpg' alt='magnitud presión' /><p
          class='mt-4 text-center leading-relaxed'
        >
          Calibración de Tensiómetros – Alcance de acreditación: 50mmHg a
          300mmHg / 6,67KPa a 40KPa
        </p>
      </div>
      <div>
        <img
          src='/images/items_temp_relativa-292x300.jpg'
          alt='magnitud temperatura y humedad relativa'
        />
        <p class='mt-4 text-center leading-relaxed'>
          Alcance de acreditación Temperatura de ambiente de 10 °C A 40 °C –
          Humedad relativa de 30 % A 80% HR – Equipos a realizar
          Termohigrometro, Higrometros, Termometros digitales, Sensores de
          humedad del aire, Dataloggers
        </p>
      </div>
      <div>
        <img
          src='/images/items_temp-292x300.jpg'
          alt='magnitud temperatura de contacto'
        />
        <p class='mt-4 text-center leading-relaxed'>
          Alcance de acreditación De -10 °C A 350 °C – Equipos a realizar:
          Termómetros de cadena de frio, Termómetros de punzon, Sensores de
          temperatura, Termoresistores, Dataloggers de alta temperatura,
          Controladores de temperatura, Dataloggers
        </p>
      </div>
    </div>
  </div>
</Layout>
